/* Common button styles */
.button {
    border: 2px solid black;
    padding: 6px;
    margin-left: auto;
    font-weight: 600;
}

/* Task button modifiers */
.button--edit {
    background-color: #a9a9a9; /* Dark Gray */
    color: white;
}

.button--edit:hover {
    cursor: pointer;
    background-color: #696969; /* Dim Gray */
    color: white;
}

.button--complete {
    background-color: #d3d3d3; /* Light Gray */
    color: black;
}

.button--complete:hover {
    cursor: pointer;
    background-color: #60805d; /* Dark Gray */
    color: black;
}

.button--delete {
    background-color: #808080; /* Gray */
    color: white;
}

.button--delete:hover {
    cursor: pointer;
    background-color: #3d2626; /* Darker Gray */
    color: white;
}

/* Task completed state */
.task--completed {
    background-color: #4f4f4f; /* Retro Gray */
    color: #ffcccb; /* Soft Retro Red */
    font-style: italic;
}

/* Toast notification styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toast--show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
