:root {
    --primary-color: #5D5C61;
    --secondary-color: #7D7C84;
    --danger-color: #938E94;
    --text-color: #4A4A4A;
    --light-text: #F7F7F7;
    --background-color: #E8E8E8;
    --card-background: #F2F2F2;
    --border-radius: 0px;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
    --transition: all 0.3s ease;
    --completed-background: #6D7993;
    --completed-text: #F2F2F2;
    --border-color: #D9D9D9;
}

/* Layout components */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}

/* Task creation block */
.task-create {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.task-create__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--card-background);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-color);
    gap: 10px;
}

.task-create__input-header {
    display: flex;
    gap: 10px;
}

.task-create__input {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px;
    transition: var(--transition);
}

.task-create__input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(93, 92, 97, 0.2);
}

.task-create__textarea {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: transparent;
    padding: 10px;
    resize: none;
    height: 200px;
    transition: var(--transition);
}

.task-create__textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(93, 92, 97, 0.2);
}

.task-create__button {
    background-color: var(--primary-color);
    color: var(--light-text);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    margin-left: auto;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);

}
@media screen and (max-width: 768px) {
    .task-create__button {
        margin-right: 20px;
    }
}

.task-create__button:hover {
    background-color: #4A4A52;
    transform: translateY(-2px);
}

/* Task view block */
.task-view {
    flex-grow: 1;
}

.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Task item block */
.task-item {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    padding: 15px;
    gap: 15px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    border: 1px solid var(--border-color);
}

.task-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.task-item--completed {
    background-color: var(--completed-background);
    color: var(--completed-text);
    font-style: italic;
}

.task-item__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.task-item__title {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-color);
}

.task-item__description {
    font-size: 0.9rem;
    color: var(--text-color);
}

.task-item--completed .task-item__title {
    text-decoration: line-through;
    color: var(--completed-text);
}

.task-item__deadline {
    font-size: 0.8rem;
    background-color: rgba(11, 107, 83, 0.288);
    padding: 3px 12px;
    border-radius: 20px;
}

.task-item__description {
    line-height: 1.5;
    color: var(--text-color);
}

.task-item--completed .task-item__description {
    color: var(--completed-text);
}

.task-item__controls {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.task-item__button {
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 12px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.task-item__button--edit {
    background-color: #9A9A9D;
    color: var(--light-text);
}

.task-item__button--edit:hover {
    background-color: #7F7F82;
    transform: translateY(-2px);
}

.task-item__button--complete {
    background-color: var(--secondary-color);
    color: var(--light-text);
}

.task-item__button--complete:hover {
    background-color: #696973;
    transform: translateY(-2px);
}

.task-item__button--delete {
    background-color: var(--danger-color);
    color: var(--light-text);
}

.task-item__button--delete:hover {
    background-color: #7E7A7F;
    transform: translateY(-2px);
}

/* Toast notification styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #5D5C61;
    color: var(--light-text);
    text-align: center;
    border-radius: var(--border-radius);
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.toast--show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
